/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0 0.5%;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 1%;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 1%;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 1%;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 0 4.5rem;
  border-bottom: 2px dashed #C0C0C0;
}
header nav {
  display: flex;
  padding: 20px 0;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
@media (max-width: 500px) {
  header nav {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-bottom: 5px;
  }
}
header nav .funbus {
  width: 40%;
  margin-left: -6%;
}
@media (max-width: 500px) {
  header nav .funbus {
    margin-bottom: 15px;
  }
}
header .links {
  width: 50%;
  margin-right: -4%;
  text-align: right;
  padding-top: 2%;
}
@media (max-width: 500px) {
  header .links {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}
header .links a {
  margin: 0 5%;
  font-size: 1.4rem;
  color: black;
  text-decoration: none;
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
@media (max-width: 500px) {
  .footer {
    margin: 0 -1%;
    width: 102%;
    padding: 2% 0;
  }
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 1%;
}
@media (max-width: 500px) {
  .home .top-content {
    margin: 0 2%;
    padding: 4%;
    margin-top: -4%;
  }
}
@media (max-width: 500px) {
  .home .top-content .header-img {
    max-width: 110%;
    margin-left: -4.5%;
  }
}
.home .top-content .top-text {
  padding-top: 3%;
  width: 100%;
}
@media (max-width: 500px) {
  .home .top-content .top-text {
    width: 100%;
    margin-left: -4%;
  }
}
.home .top-content .top-text h1 {
  -webkit-animation: fade-in 0.2s linear infinite alternate;
  -moz-animation: fade-in 0.2s linear infinite alternate;
  animation: fade-in 0.2s linear infinite alternate;
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 500px) {
  .home .top-content .top-text h1 {
    font-size: 30px;
  }
}
.home .top-content .top-text p {
  padding-top: 1rem;
}
.home .content-section {
  border-top: 2px dashed #C0C0C0;
  margin: 4% 0 -2% 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 4%;
}
@media (max-width: 500px) {
  .home .content-section {
    flex-direction: column;
    margin: 0 3%;
    padding-top: 4%;
  }
}
.home .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .home .text-content {
    width: 100%;
    margin-left: -1%;
  }
}
.home .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .home .img-content {
    width: 100%;
    padding: 0;
    margin-left: -1%;
  }
}
.home .img-content img {
  border-radius: 3%;
}
@media (max-width: 500px) {
  .home .img-content img {
    height: 57.5vh;
  }
}
.home .inverse-content {
  padding-bottom: 4%;
  border-bottom: 2px dashed #C0C0C0;
  border-top: none;
  margin: 0;
}
@media (max-width: 500px) {
  .home .inverse-content {
    margin-right: 6%;
    flex-direction: column-reverse;
    border-top: none;
    margin-left: 3%;
  }
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
@media (max-width: 500px) {
  .home .inverse-content .img-content {
    width: 102%;
    padding: 0;
    margin-left: -1%;
  }
}
.home .content-destination {
  width: 69%;
  margin: 0 16%;
  padding: 3% 0;
}
@media (max-width: 500px) {
  .home .content-destination {
    width: 93%;
    margin: 2% 0 0 2%;
  }
}
.home .content-destination img {
  border-radius: 3%;
}
@media (max-width: 500px) {
  .home .content-destination img {
    width: 100%;
  }
}
.home .content-pick {
  padding-top: 3%;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .content-pick {
    width: 89%;
    margin-left: 3%;
    flex-direction: column;
  }
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 3.5%;
}
@media (max-width: 500px) {
  .home .content-pick .destination {
    width: 85%;
    margin-left: 12%;
  }
}
.home .content-pick .destination p {
  width: 92%;
  margin-top: 2%;
}
.home .content-pick .destination .btn {
  padding: 4% 27%;
  color: white;
  background: #17A2B8;
  border-radius: 12px;
  text-align: center;
}
@media (max-width: 500px) {
  .home .content-pick .destination .btn {
    padding: 4% 15%;
    color: white;
    background: #17A2B8;
    border-radius: 12px;
    text-align: center;
    width: 97%;
    font-size: 2rem;
  }
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
.container form .row .col-text #country {
  width: 50%;
  height: 5vh;
}
.container form .row .col-text #fname {
  width: 50%;
  height: 5vh;
}
.container form .row .col-text #lname {
  width: 50%;
  height: 5vh;
}
.container form .row .col-text #email {
  width: 50%;
  height: 5vh;
}
.container form .row .col-text #comment {
  width: 95%;
  height: 50vh;
}
.container form .row .button {
  width: 95%;
  height: 4vh;
}
