.home {

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
    }//this closes the .text-content

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }//this closes the img
    }//this closes the /img-content
  }//this closes the .content-section

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }//this closes the .text-content

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }//this closes the img-content
  }//this closes the .inverse-content

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }//this closes the img
  }//this closes the .contesnt-destination

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 30%;
      margin-bottom: 30px;
      .btn{
        .bottonstyle(15px 20px; white; #17A2B8; 12px; center);
      }//this closes the .btn
    }//this closes the .destination
  }//this closes the . content-pick 

  .top-content{
    padding-top: 30px;
    border-bottom: 2px dashed @navigation-border;
  
    .top-text{
      padding-top: 30px;
    }//this closes the .top-text
    p{
      padding-top: 1rem;
    }//this closes the p
  }//this closes the .top-content
}// home

