// Mixins in here
.bottonstyle (@btnpadding: 15px 20px; @btncolor: white; @btnbackground: #17A2B8; @btnradius: 12px; @btnalign: center) {
    padding: @btnpadding;
    color: @btncolor;
    background: @btnbackground;
    border-radius: @btnradius;
    text-align: @btnalign;
}
.page-width(){
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}